<%= render "shared/header" %>
 <br>
 
 <div class="show-image">
    <% @library_rundam_all.each do |libra| %>
       <%= image_tag libra.image, class: "show-image" %>
    <% end %>
 </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%= render "shared/footer"%>