<%= render "shared/header" %>
 <br>
 <br>
 <br>
 <br>
 <div class="show-image_five">
    <% @library_rundam_all.each do |libra| %>
       <%= image_tag libra.image %>
    <% end %>
 </div>

<%= render "shared/footer"%>